* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header {
  width: 100%;
  /* min-height: 72px; */
}

.navbar > ul > li {
  display: inline-block;
}

p {
  font-weight: 400;
}

.button-section-one {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  text-align: center;
}

.main-heading {
  color: #fff;
  text-align: center;
  padding-top: 188px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.5em;
}
button {
  cursor: pointer;
}

.first-button {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  box-shadow: none;
  color: #fff;
  border-radius: 4px;
  /* padding: 16px, 32px; */
}

li {
  list-style-type: none;
}

.section2 {
  width: 1440;
  min-height: 104px;
}

.team-section {
  background-color: #f4f4fd;
}

h2 {
  font-size: 36px;
  color: #2e2f42;
  text-align: center;
}

.portfolio-section {
  width: 1128px;
  min-height: 1000px;
  padding: 120px auto;
}

footer {
  min-height: 312px;
  background-color: #2e2f42;
}

.footer-section {
  width: 264px;
  height: 112px;
}

.footer-text {
  color: #f4f4fd;
}
